body,
h1,
h2,
h3,
span {
	margin: 0;
	padding: 0;
	color: #fff;
}

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background: fixed url('../images/bcg.png') no-repeat;
	background-size: cover;
}

button,
button:focus {
	outline: none;
}

.is_overlay {
	display: block;
	width: 100%;
	height: 100%;
}

#trailer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio: 16/9) {
	#trailer > video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	#trailer > video {
		width: 300%;
		left: -100%;
	}
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
	#trailer > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.bckg-darken {
	background: black;
	height: 100%;
	width: 100%;
	position: relative;
	opacity: 0.67;
}

.player-body--vinyl-svg {
	position: relative;
	top: -572px;
	left: -10px;
	cursor: pointer;

	/*transform: rotate(-14deg);*/
}

/*длина окружности индикатора 847*/
.vinyl-svg-circle-buffer {
	-webkit-transition: stroke-dasharray 2s ease-in-out 0ms;
	-o-transition: stroke-dasharray 2s ease-in-out 0ms;
	transition: stroke-dasharray 2s ease-in-out 0ms;
}

.vinyl-svg-circle-buffer,
.vinyl-svg-circle-currentTime,
.vinyl-svg-circle-start {
	fill: hsla(0, 0%, 0%, 0);
	stroke-width: 7px;
	stroke-dasharray: 0 847px;
	stroke-dashoffset: -318px;
}

.vinyl-svg-circle-start {
	stroke-dashoffset: -332px;
	stroke-width: 20px;
	stroke-dasharray: 2px 883px;
	stroke: #C12775;
}

.vinyl-svg-circle-currentTime-indicator {
	fill: hsla(0, 0%, 0%, 0);
	stroke-dashoffset: -318px;
	stroke-width: 20px;
	stroke-linecap: round;
	stroke-dasharray: 0px 847px;
}

.player-time-manager {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/**/
	top: -598px;
	position: relative;
}

.player-time__gap {
	width: 100%;
}

.button {
	border: none;
	height: 60px;
	width: 60px;
}

.button-play {
	background: url('../images/panelsControls.png') 202px -20px;
}

.button-previous {
	background: url('../images/panelsControls.png') -77px -20px;
}

.button-following {
	background: url('../images/panelsControls.png') 117px -20px;
}

.button-previous,
.button-following {
	width: 40px;
}

.button-revert,
.button-shuffle,
.button-volume-small {
	width: 20px;
}

.button-revert {
	background: url('../images/panelsControls.png') -37px -20px;
}

.button-shuffle {
	background: url('../images/panelsControls.png') 58px -20px;
}


.button-volume-small {
	background: url('../images/panelsControls.png') -30px -104px;
}

.player--volume-controls--phone-level1,
.player--volume-controls--phone-level2 {
	height: 60px;
	width: 4px;
}

.player--volume-controls--phone-level1 {
	/*background: url('../images/panelsControls.png') -50px -104px;*/
	margin: 0 1px;
}

/*.player--volume-controls--phone-level2 {*/
/*background: url('../images/panelsControls.png') -59px -104px;*/
/*}*/

.player--sound-bar {
	width: 190px;
	margin: 0 auto;
	background: #636e80;
}

.sound-bar--slider-sound {
	height: 7px;
	background: -webkit-gradient(linear, left top, right top, from(#c12775), to(#7a36cf));
	background: -webkit-linear-gradient(left, #c12775, #7a36cf);
	background: -o-linear-gradient(left, #c12775, #7a36cf);
	background: linear-gradient(to right, #c12775, #7a36cf);
}

.volume-level {
	width: 18px;
}

.button-volume-big {
	background: url('../images/panelsControls.png') -100px -114px;
	margin-right: 20px;
}

.button-pause {
	background: url('../images/panelsControls.png') -179px -114px;
}

.playlist--tracks {
	font-size: 15pt;
	position: relative;
}

.playlist--one-track {
	margin-bottom: 20px;
	border-bottom: 1px solid #ffffff0d;
	padding: 10px 0 0;
}

.one-track--content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.one-track--slider-box {
	width: 100%;
	height: 7px;
	margin-top: 10px;
}

.one-track--slider-box:hover {
	background: #ffffff0a;
	cursor: pointer;
}

.one-track--slider-box div {
	height: 7px;
}

.slider-buffering {
	background: -webkit-gradient(linear, left top, right top, from(#4e88b3), to(#41ac73));
	background: -webkit-linear-gradient(left, #4e88b3, #41ac73);
	background: -o-linear-gradient(left, #4e88b3, #41ac73);
	background: linear-gradient(to right, #4e88b3, #41ac73);
	-webkit-transition: width 2s ease-in-out 0ms;
	-o-transition: width 2s ease-in-out 0ms;
	transition: width 2s ease-in-out 0ms;
}

.slider-currentTime {
	background: -webkit-gradient(linear, left top, right top, from(#c12775), to(#7a36cf));
	background: -webkit-linear-gradient(left, #c12775, #7a36cf);
	background: -o-linear-gradient(left, #c12775, #7a36cf);
	background: linear-gradient(to right, #c12775, #7a36cf);
}

.slider-buffering,
.slider-currentTime {
	width: 0;
}

.playlist--track-name {
	margin-left: 20px;
	width: 100%;
}

.playlist--duration span {
	float: right;
}

.button:hover,
.player-body--center-vinyl:hover,
.playlist--one-track img:hover,
.playlist--track-name:hover,
.player--sound-bar:hover {
	cursor: pointer;
}

/*todo перетащить в модули, возможно убрать transform*/
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
