body,
h1,
h2,
h3,
span {
	margin: 0;
	padding: 0;
	color: #fff;
}

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

button,
button:focus {
	outline: none;
}

.is_overlay {
	display: block;
	width: 100%;
	height: 100%;
}

#trailer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio: 16/9) {
	#trailer > video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	#trailer > video {
		width: 300%;
		left: -100%;
	}
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
	#trailer > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.bckg-darken {
	background: black;
	height: 100%;
	width: 100%;
	position: relative;
	opacity: 0.67;
}

.container {
	display: flex;
	justify-content: flex-start;
	padding: 80px;
}

.player {
	width: 275px;
	background: linear-gradient(to bottom, rgba(97, 165, 201, 0.26), rgba(87, 44, 128, 0.25));
	text-align: center;
	opacity: 0.99;
	padding: 37px 40px 187px;
}

.player-header--name-performer,
.player-header--name-track {
	display: block;
}

.player-header--name-performer {
	font-size: 24pt;
	font-weight: bold;
	height: 36px;
}

.player-header--name-track {
	margin-top: 12px;
	font-size: 12pt;
}

.player-body {
	margin-top: 40px;
}

.player-body--center-vinyl {
	background-size: 61%;
	height: 275px;
	transform: rotate(14deg);
}

.player-body--vinyl {
	height: 275px;
	width: 275px;
	transform: rotate(-14deg);
}

.player--panel-control {
	position: absolute;
	width: 275px;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.player--buttons-control {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}

.playlist {
	margin-left: 80px;
	height: 50px;
	width: 100%;
}

.button {
	border: none;
	height: 60px;
	width: 60px;
}

.button-play {
	background: url('../img/panelsControls.png') 202px -20px;
}

.button-previous {
	background: url('../img/panelsControls.png') -77px -20px;
}

.button-following {
	background: url('../img/panelsControls.png') 117px -20px;
}

.button-previous,
.button-following {
	width: 40px;
}

.button-revert,
.button-shuffle,
.button-volume-small {
	width: 20px;
}

.button-revert {
	background: url('../img/panelsControls.png') -37px -20px;
}

.button-shuffle {
	background: url('../img/panelsControls.png') 58px -20px;
}

.player--volume-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-volume-small {
	background: url('../img/panelsControls.png') -30px -104px;
}

.player--sound-bar {
	width: 190px;
	margin-left: 6px;
	background: #636e80;
}

.sound-bar--slider-sound {
	height: 7px;
	background: linear-gradient(to right, #c12775, #7a36cf);
}

.volume-level {
	width: 18px;
}

.button-volume-big {
	background: url('../img/panelsControls.png') -100px -114px;
	margin-right: 20px;
}

.button-pause {
	background: url('../img/panelsControls.png') -179px -114px;
}

.player--additionally-panel {
	margin-top: 55px;
}

.playlist--one-image {
	margin: 0 50px 50px 0;
}

.playlist--one-image,
.playlist--tracks {
	position: relative;
}

.playlist--tracks {
	font-size: 15pt;
}

.playlist--one-track {
	margin-bottom: 20px;
	border-bottom: 1px solid #ffffff0d;
	padding: 10px 0 0;
}

.one-track--content {
	display: flex;
	align-items: center;
}

.one-track--slider-box {
	width: 100%;
	height: 7px;
	margin-top: 10px;
}

.one-track--slider-box:hover{
	background: #ffffff0a;
	cursor: pointer;
}

.one-track--slider-box div {
	height: 7px;
}

.slider-buffering {
	background: linear-gradient(to right, #4e88b3, #41ac73);
	transition: width 2s ease-in-out 0ms;
}

.slider-currentTime {
	background: linear-gradient(to right, #c12775, #7a36cf);
}

.slider-buffering,
.slider-currentTime {
	width: 0;
}

.playlist--track-name {
	margin-left: 20px;
	width: 100%;
}

.playlist--duration span {
	float: right;
}

.playlist--one-image:hover,
.button:hover,
.player-body--center-vinyl:hover,
.playlist--one-track img:hover,
.playlist--track-name:hover,
.player--sound-bar:hover {
	cursor: pointer;
}