body,
h1,
h2,
h3,
span {
	margin: 0;
	padding: 0;
	color: #fff;
}

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.is_overlay {
	display: block;
	width: 100%;
	height: 100%;
}

#trailer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

@media (min-aspect-ratio: 16/9) {
	#trailer > video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	#trailer > video {
		width: 300%;
		left: -100%;
	}
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
	#trailer > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.bckg-darken {
	background: black;
	height: 100%;
	width: 100%;
	position: relative;
	opacity: 0.67;
}

.container {
	padding: 80px;
}

.player {
	width: 275px;
	background: linear-gradient(to bottom, #71b3e626, #572c80);
	text-align: center;
	opacity: 0.99;
	padding: 37px 40px 187px;
}

.player-header--name-performer,
.player-header--name-track {
	display: block;
}

.player-header--name-performer {
	font-size: 24pt;
	font-weight: bold;
}

.player-header--name-track {
	margin-top: 12px;
	font-size: 12pt;
}

.player-body {
	margin-top: 40px;
}

.player-body--center-vinyl {
	background: url("../img/t.png") no-repeat center;
	background-size: 50%;
	height: 275px;
	transform: rotate(14deg);
}

.player-body--vinyl {
	height: 275px;
	width: 275px;
	transform: rotate(-14deg);
}

.player--panel-control{
	position: absolute;
	width: 275px;
}

.player--buttons-control {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}

.button {
	border: none;
	height: 60px;
	width: 60px;
}

.button-play {
	background: url('../img/panelsControls.png') 202px -20px;
}

.button-previous {
	background: url('../img/panelsControls.png') -77px -20px;
}

.button-following {
	background: url('../img/panelsControls.png') 117px -20px;
}

.button-previous,
.button-following {
	width: 40px;
}

.button-revert,
.button-shuffle,
.button-volume-small{
	width: 20px;
}


.button-revert {
	background: url('../img/panelsControls.png') -37px -20px;
}

.button-shuffle {
	background: url('../img/panelsControls.png') 58px -20px;
}

.player--volume-controls{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-volume-small{
	background: url('../img/panelsControls.png') -30px -104px;
}

.button-volume-big{
	background: url('../img/panelsControls.png') -100px -114px;
	margin-right: 20px;
}

.button-pause{
	background: url('../img/panelsControls.png') -179px -114px;
}

.player--additionally-panel{
	margin-top: 55px;
}